{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
  <link rel="stylesheet" href="./static/style.css">
</head>
<body>
  <center><h2>Random Cat Facts...</h2>
</center>
  <div class="flex">
    <div class="flex-item">
       <img src="https://i.pinimg.com/originals/17/be/73/17be73dcadf663ab3d4327cbe9dcfcbf.jpg" alt="cat" >
    </div>  
    <div class="flex-item">
      <p class="result2">{{result2}}</p>
     <center> <a href=""><button class="btn">Generate New Fact</button></a></center>  
    </div>
  </div>
    <!--<p class="p_one">People that hate cats will come back as mice in their next life.</p>  -->
</body>
</html>